[submodule "OpenSSL"]
	path = OpenSSL/upstream
	url = https://github.com/openssl/openssl.git
[submodule "DCMTK"]
	path = DCMTK
	url = https://github.com/DCMTK/dcmtk.git
	ignore = dirty
[submodule "FeedbackReporter"]
	path = FeedbackReporter
	url = https://github.com/tcurdt/feedbackreporter.git
	ignore = dirty
